.actions {
  display: flex;
  align-items: center;
  .currencies {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .currencySign {
    margin-right: 10px;
    font-size: 18px;
    line-height: 28.8px;
    font-weight: 500;
  }
  .pointer {
    width: 6px;
    height: 3px;
    transform: rotate(180deg);
  }
  .active {
    transform: rotate(0deg);
  }
  .emptyCart {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 18px;
    margin-left: 22px;
    z-index: 1;
    .countProductInCart {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 16.41px;
      font-weight: 700;
      color: #ffffff;
      width: 20px;
      height: 20px;
      border-radius: 60px;
      background-color: #1d1f22;
    }
  }
  .currencySelectionBlock {
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    width: 114px;
    background-color: #ffffff;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
}
