@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.App {
  position: relative;
  background-color: #ffffff;
  padding: 0 100px;
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  button {
    font-family: "Raleway", sans-serif;
  }
}
